.DS_Store
.emacs-custom.el
config.el
projectile-bookmarks.eld
ido.last
tramp

/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects

/image-dired/
/url/
/elpy/
/backups/
